{
  "overrides": [
    {
      "files": [
        "test/**/*.js"
      ],
      "env": {
        "mocha": true
      }
    },
    {
      "files": [
        "admin/**/*.js"
      ],
      "env": {
        "browser": true
      },
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        "node/no-unsupported-features/es-syntax": "off"
      }
    }
  ],
  "extends": [
    "oclif",
    "ipfs/js"
  ],
  "rules": {
    "no-await-in-loop": "off"
  }
}
